.photo_gallery_menu {
    background-image: url("../img/bg_img.png");
    width: 100%;
    height: 768px;
    background-position: center center;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 51px 0 25px;
    width: 1125px;
    margin: 0 auto;
}

.logo_link_container {
    display: flex;
    text-decoration: none;
    align-items: flex-end;
}

.container_left_logo {
    display: flex;
    align-items: flex-end;
}

.logo_text_link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #FFF;
    margin-left: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
}

.logo_text_link_span {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    margin-bottom: 3px;
}

.container_left_logo:hover .logo_text_link {
    color: #F26522;
}

.logo_inf_bg {
    background-image: url("../img/logo_1.png");
    width: 53px;
    height: 47px;
}

.container_left_logo:hover .logo_inf_bg {
    background-image: url("../img/logo_1_orange.png");
    width: 53px;
    height: 47px;
}

.logo_text_contact {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-decoration: none;
    text-align: right;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
}

.logo_text_contact > a {
    color: #FFF;
    text-decoration: none;
}

.logo_text_contact > a:hover {
    color:  #F26522;
}

.photo_gallery_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 160px;
}

.photo_gallery_main_items {
    margin-bottom: 30px;
}

.photo_gallery_main_items_link {
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.photo_gallery_main_items_link:hover .photo_gallery_main_items_text {
    color:  #F26522
}

.photo_gallery_main_items_text {
    font-weight: normal;
    font-family: sans-serif;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    font-style: normal;
    margin-top: 20px;
}

.hover_content {
    display: none;
    width: 280px;
    position: absolute;
    background: #F26522;
    padding: 15px 12px;
    bottom: 43px;
    color: #fff;
}

.hover_content_items {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
}

.hover_content > h3 {
    font-weight: normal;
    padding-bottom: 8px;
    font-family: sans-serif;
    font-size: 15px;
}

.hover_content_items span:first-child {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
}

.hover_content_items span:last-child {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}

.hover_content_items span:last-child::after {
    content: url("../img/vector.png");
    margin: 0 10px;
    width: 5px;
    height: 10px;
}

.photo_gallery_main_items:hover .hover_content {
    display: block;
}

.footer {
    margin-top: 15px;
    text-align: center;
}

.footer_item {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
}

